SUPABASE_URL=https://tiorfiqiowylbnartegx.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_F5JLcuiExa85r4b3caJWYw_NjKOpnSY
SUPABASE_SERVICE_ROLE_KEY=
VERCEL_API_TOKEN=
VERCEL_PROJECT_ID=prj_Z88QIaAS7g64nSYPmKl8y0xVU9Fz
VERCEL_TEAM_ID=
GITHUB_REPOSITORY=Suiyuecare/Logging
GITHUB_TOKEN=
